html, body {
    color: #d1d5da;
    font-style: normal;
    font-family: "LXGWWenKai", monospace, monospace;
}

body {
    background-color: #24292e;
}

.variable_name{
    color: #79b8ff;
}

.typehint{
    color: #b392f0;
}

.comma{
    color: #d1d5da;
}

.operator {
    color: #f97583;
}

.bracket {
    color: #d1d5da;
}

.number {
    color: #79b8ff;
}

.string {
    color: #9ecbff;
}